.circle {
    position: absolute; /* Позволяет свободно распологать круги внутри слайда */
    border-radius: 50%; /* Закругляет края, создавая круглую форму */
    background-color: #ff009d; /* Задаёт цвет фона круга */
    cursor: pointer; /* Изменяет указатель мыши на значок руки при наведении */
    aspect-ratio: 1 / 1; /* Поддерживает круглую форму */
    border: 2px solid #362d32; /* Чёрная обводка */
}
  .circle.selected {
    border: 2px dashed blue; /* Синий пунктир для выделенных кругов */
  }